@using Shop_Klimov.Data.Models

@model IEnumerable<Items>

@{
    Layout = "_Layout";
}
<h2>Все предметы</h2>
@{
    foreach (var item in Model)
    {
        <div class="item">
            <img src="@item.Img"/>
            <div class="data">
                <h3>Модель: @item.Name</h3>
                <div>Цена: @item.Price.ToString("c")</div>
                <div>Категория: @item.Category.Name</div>
                <div>Описание: @item.Description</div>
            </div>
        </div>
    }
}
